*{
  margin:0%;
  padding:0%;
  box-sizing: 0%;
}

html,
body, #root {
  height:100%;
  width:100%;
}

main{
  height: 100%;
  width: 100%;
  padding: 1.5rem;
  display: flex;
  gap: 1rem;
}

main .left, 
main .right{
  height: 100%;
  flex-basis: 50%;
  border-radius: 0.7rem;
}


main .left{
  background-color: black;
  position: relative;
}

main .left .review{
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: black;
  border-radius: 0.7rem;
  padding: 0.5rem;
  background-color: rgb(23, 23, 145);
}

main .right{
  background-color: rgb(119, 119, 119);
}